@model Order
@{
    ViewData["Title"] = "FinishPayment";
}

<h1>FinishPayment</h1>

<span style="color:red">@ViewBag.Msg</span>
@if (Model != null)
{
    <h1>Purchase Order Information: </h1>
    <table border="1">
        <tr>
            <th>Order ID</th>
            <th>Customer Name</th>
            <th>Shipping Address</th>
            <th>Customer Email</th>
            <th>Customer Phone</th>
            <th>Status</th>
            <th>Order Item(s)</th>
            <th>Total Price</th>
        </tr>
        <tr>
            <td>
                @Model.OrderID
            </td>
            <td>@Model.CustomerName</td>
            <td>@Model.ShippingAddress</td>
            <td>@Model.CustomerEmail</td>
            <td>@Model.CustomerPhone</td>
            <td>@Model.Status</td>
            <td>
                <ul>
                    @foreach (var order_item in Model.ItemName)
                    {
                        <li>@order_item</li>
                    }
                </ul>
            </td>
            <td>@Model.TotalPrice</td>
        </tr>
        }
    </table>
    <h1 class="notification">Please check your mail box to look for a confirmation email sent by OrderNoti.</h1>
    <h1 class="notification">Ignore this one if you already purchased any furniture from our website before.</h1>
    <a asp-action="Index" asp-controller="Home" class="text-center">Buy More!</a>
}
else
{
<center>
    <h1 class="notification">Purchase failed!</h1>
    <h1 class="notification">Please ensure that you have all your Address, Phone Number, and Email address filled in</h1>
</center>
   
}
