@model Order
@{
    ViewData["Title"] = "FinishPayment";
}
<body>
    <span style="color:red">@ViewBag.Msg</span>
    @if (Model != null)
    {
        <h1>Purchase Order Information: </h1>
        <table border="1" class="table-custom" style="margin-bottom:10px">
            <tr>
                <th class="row-content">Order ID</th>
                <th class="row-content">Customer Name</th>
                <th class="row-content">Shipping Address</th>
                <th class="row-content">Customer Email</th>
                <th class="row-content">Customer Phone</th>
                <th class="row-content">Status</th>
                <th class="row-content">Order Item(s)</th>
                <th class="row-content">Total Price</th>
            </tr>
            <tr>
                <td class="row-content">@Model.OrderID</td>
                <td class="row-content">@Model.CustomerName</td>
                <td class="row-content">@Model.ShippingAddress</td>
                <td class="row-content">@Model.CustomerEmail</td>
                <td class="row-content">@Model.CustomerPhone</td>
                <td class="row-content">@Model.Status</td>
                <td>
                    <ul>
                        @foreach (var order_item in Model.ItemName)
                        {
                            <li class="row-content">@order_item</li>
                        }
                    </ul>
                </td>
                <td class="row-content">@Model.TotalPrice</td>
            </tr>
        </table>
        <a class="styledButton" asp-action="Index" asp-controller="Home" style="--clr: #00ff21"><span>Buy More!</span><i></i>!</a>
    }
    else
    {
        <center>
            <h1 class="notification">Purchase failed!</h1>
            <h1 class="notification">Please ensure the Address and Phone Number are filled in</h1>
        </center>

    }

</body>
