@model Cart
@{
    ViewData["Title"] = "CartPage";
}

@if (ViewBag.Msg != null)
{
    <center>
        <h1>@ViewBag.Msg</h1>
        <a asp-action="Index" asp-controller="Home">See product page!</a>
    </center>

}
else
{
<center>
    <h1>CartPage for @Model.CustomerName:</h1>
    <hr />
    <br />
    <span style="color:@ViewBag.color">@ViewBag.modifyMsg</span>
    <table>
        <tr>
            <th>Item Name</th>
            <th>Remove</th>
        </tr>
        @foreach (var item in Model.ItemName)
        {
            <tr>
                <td>@item</td>
                <td>
                    <form asp-action="RemoveFromCart" asp-controller="Cart" method="post">
                        <button type="submit" class="btn btn-primary" asp-action="RemoveFromCart" asp-route-itemName ="@item" asp-route-customerName="@Model.CustomerName">Remove</button>
                    </form>
                </td>
            </tr>
        }
        <tr>
            <th>Total Price</th>
            <td>@Model.total_price</td>
        </tr>
    </table>
    <form asp-action="ProceedPayment" asp-controller="Payment">
        <button type="submit" asp-route-customerName="@Model.CustomerName" asp-action="ProceedPayment" asp-controller="Payment">Proceed Payment</button>
    </form>
    
</center>
}   



