@model List<Furniture>
@{
    ViewData["Title"] = "Index";
}
@ViewBag 
<h1>Inventory Management Page</h1>

<center>
   <table>
       <thead>
           <tr>
               <th>Name</th>
               <th>Description</th>
               <th>Price</th>
               <th>Quantity</th>
               <th>Urls</th>
               <th>Actions</th>
           </tr>
       </thead>
       <tbody>
           @foreach(var furniture in Model)
            {
                <tr>
                    <td>@furniture.Name</td>
                    <td>@furniture.Description</td>
                    <td>@furniture.Price</td>
                    <td>@furniture.Quantity</td>
                    <td>@furniture.ImageUrls</td>
                    <td>
                        <a asp-action="EditView" asp-controller="InventoryManagement" asp-route-id ="@furniture.ID">Edit</a>
                        <a asp-action="Delete" asp-controller="InventoryManagement" asp-route-id="@furniture.ID">Delete</a>
                    </td>
                </tr>
            }
       </tbody>
   </table>
   <a asp-action="CreateView">Add New Furniture</a>
</center>