@model List<Furniture>
@{
    ViewData["Title"] = "InventoryOverview";
}

<h1 class="title inventory">Inventory Management Page</h1>

<form method="get" class="search search-form" action="@Url.Action("Search", "InventoryManagement")">
    <input type="text" name="query" class="search search-bar" placeholder="Search for furniture">
    <input type="submit" class="search search-button"  value="Search">
</form>

@if (Model.Count > 0)
{
    <center>
        <table class="table-custom ">
            <thead>
                <tr>
                    <th class="row-content">ID</th>
                    <th class="row-content">Name</th>
                    <th class="row-content">Description</th>
                    <th class="row-content">Price</th>
                    <th class="row-content">Quantity</th>
                    <th class="row-content">Urls</th>
                    <th class="row-content">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var furniture in Model)
                {
                    <tr>
                        <td class="row-content">@furniture.ID</td>
                        <td class="row-content">@furniture.Name</td>
                        <td class="row-content">@furniture.Description</td>
                        <td class="row-content">@furniture.Price</td>
                        <td class="row-content">@furniture.Quantity</td>
                        <td >
                            @foreach (var url in furniture.ImageUrls.Split(","))
                            {
                                <img src="@url" width="200" height="200" />
                            }
                        </td>
                        <td>
                            <a class="link-submit" asp-action="EditView" asp-controller="InventoryManagement" asp-route-id="@furniture.ID">Edit</a>
                            <a class="link-submit" asp-action="Delete" asp-controller="InventoryManagement" asp-route-id="@furniture.ID">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
        <a class="link-submit" asp-action="CreateView">Add New Furniture</a>
    </center>
}
else
{
    <span style="color:red">@TempData["msg"]</span>
}
